html, body, div, p {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.titleSmall {
  font-weight: normal;
  font-size: 14px;
}

#wrapper {
  padding-left: 200px;
}

.phase {
  overflow: hidden;
}

.phaseResolve h3 {
  margin-bottom: 5px;
}

.phaseResolve div {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}

.moveBuild {
  padding: 5px;
  cursor: pointer;
  float: left;
  margin: 10px;
  width: 150px;
  height: 30px;
  border: 1px solid gray !important;
  border-radius: 5px;
}

#moveBuildOptions {
  overflow: hidden;
}

.phaseMove {
  margin-bottom: 40px;
}

.phaseMove button {
  font-size: 18px;
  cursor: pointer;
  margin-right: 20px;
}

#playerBar {
  position: absolute;
  top: 0px;
  left: 0px;
}

.playerInfo {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 200px;
  position: relative;
}

.playerInfo:last-child {
  border-bottom: 0px;
}

.playerInfo {
  width: 160px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.playerInfo img {
  vertical-align: middle;
}

.playerInfoTable td.infoIcon {
  text-align: right;
  padding-right: 10px;
  padding-left: 0px;
}

.playerInfoTable td {
  padding-left: 10px;
}

.blueBg {
  background-color: #D6EBFF;
}

.blueHighlight {
  border-color: #0000CC;
  box-shadow: 0 0 10px #0000CC;
}

.yellowBg {
  background-color: #FFFF75;
}

.yellowHighlight {
  border-color: #FF9900;
  box-shadow: 0 0 10px #FF9900;
}

.purpleBg {
  background-color: #D1B2F0;
}

.purpleHighlight {
  border-color: #6600CC;
  box-shadow: 0 0 10px #6600CC;
}

.redBg {
  background-color: #FFB2B2;
}

.redHighlight {
  border-color: #FF0000;
  box-shadow: 0 0 10px #ff0000;
}

.greenBg {
  background-color: #99AD99;
}

.greenHighlight {
  border-color: #00FF00;
  box-shadow: 0 0 10px #00FF00;
}

h2 button {
  vertical-align: middle;
}

.pastResults {
  display: none;
}

/* auction related things here */

.bankBuckets {
  text-align: center;
}

.bankBuckets td {
  padding-left: 3px;
  padding-right: 3px;
}

.auctionStyle {
  font-size: 20px;
}

.auctionStyle img {
  vertical-align: middle;
}

.auctionItemHeader {
  font-size: 26px;
}

.auctionStyle td:first-child {
  text-align: right;
  padding-right: 10px;
}

.auctionStyle td:last-child {
  padding-left: 10px;
}

#auctionOtherActions button {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.explanation {
  margin-bottom: 10px;
}

p.explanation {
  max-width: 800px;
}

.highBid {
  font-weight: bold;
}

.auctionSnapshot {
  background-color: #f0f0f0;
}

.resolveAuctionButton {
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

.resolveAuctionButton img, .moveBuild img {
  vertical-align: top;
}